<nav class="breadcrumbs">
    {% if home %}
        <a href="/">Home: All pokemon</a>
    {% else %}
        <a href="/">Home</a>
    {% endif %}

    {% if caught %}
        <a href="/pokemon/caught">&rsaquo; pokemon caught</a>
    {% endif %}

    {% if gen %}
        <a href="/pokemon/generation-{{gen}}">&rsaquo; generation {{gen}}</a>
    {% endif %}

    {% if pkmData %}
        {% assign pkmId = pkmInfo.id | minus: 1 %}
        <a href="/details/{{pkmData[pkmId].name}}#about">&rsaquo; details: {{ pkmData[pkmId].spName }}</a>
    {% endif %}
</nav>