<article>
    <h3>Bulbasaur</h3>
    <img src="/assets/pokeball.svg" alt="{{bulba}} is caught">
    <picture>
        <source type="image/avif" srcset="/assets/test-bulba.avif">
        <source type="image/webp" srcset="/assets/test-bulba.webp">
        <img src="/assets/test-bulba.png" width="70" height="68" alt="test-bulba" loading="lazy">
    </picture>
</article>