{% render 'partials/head.liquid' %}

<main class="detail-container"  style="background-color: var(--color-grass);">
    <section class="pkm-info" style="background-color: var(--color-grass); background-image: url('/assets/bg-pokeball-detail.svg');">
        <h1 class="title-site"><img src="/assets/PokemonLogo.svg" width="300" height="107" alt="pokemon logo"></h1>
        <div class="id-pokeball">
            <span class="details-pkm-id title-home">001</span>
            <img class="pkm-pokeball" src="/assets/pokeball.svg" width="40" height="40" alt="{{bulba}} is caught">
        </div>

        <h2 class="pkm-name title-detail">Bulba</h2>
        <picture class="pkm-sprite">
            <source type="image/avif" srcset="/assets/test-bulba.avif">
            <source type="image/webp" srcset="/assets/test-bulba.webp">
            <img src="/assets/test-bulba.png" width="179" height="174" alt="test-bulba" loading="lazy">
        </picture>
    </section>

    <section class="info-container detail-info">
        <nav class="tab-titles">
            <span><a href="#about">About</a></span>
            <span><a href="#stats">Stats</a></span>
            <span><a href="#evolutions">Evolutions</a></span>
            <div class="bar"></div>
            <div class="indicator"></div>
        </nav>

        <table class="pkm-about tab" id="about">
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>bulba</td>
                </tr>
                <tr>
                    <td>Id</td>
                    <td>001</td>
                </tr>
                <tr>
                    <td>Base XP</td>
                    <td>64</td>
                </tr>
                <tr>
                    <td>Weight</td>
                    <td>69 kg</td>
                </tr>
                <tr>
                    <td>Height</td>
                    <td>70 cm</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>Grass Poison</td>
                </tr>
                <tr>
                    <td>Abilities</td>
                    <td>Overgrow, Chlorophyll</td>
                </tr>
            </tbody>
        </table>

        <ul class="pkm-stats tab" id="stats">
            <li>
                <span class="stat">HP</span>
                <span class="number">45</span>
                <meter value="45" min="0" max="100"></meter>
            </li>
            <li>
                <span class="stat">Attack</span>
                <span class="number">49</span>
                <meter value="49" min="0" max="100"></meter>
            </li>
            <li>
                <span class="stat">Defense</span>
                <span class="number">49</span>
                <meter value="49" min="0" max="100"></meter>
            </li>
            <li>
                <span class="stat">Special Attack</span>
                <span class="number">65</span>
                <meter value="65" min="0" max="100"></meter>
            </li>
            <li>
                <span class="stat">Special Defense</span>
                <span class="number">65</span>
                <meter value="65" min="0" max="100"></meter>
            </li>
            <li>
                <span class="stat">Speed</span>
                <span class="number">45</span>
                <meter value="45" min="0" max="100"></meter>
            </li>
        </ul>

        <section class="evolution tab" id="evolutions">
            <article class="pkm-evo">
                <picture class="sprite" style="background-color: var(--color-grass);">
                    <source type="image/avif" srcset="/assets/test-bulba.avif">
                    <source type="image/webp" srcset="/assets/test-bulba.webp">
                    <img src="/assets/test-bulba.png" width="70" height="68" alt="test-bulba" loading="lazy">
                </picture>

                <span class="details-pkm-id">001</span>
                <h4 class="pkm-name">Bulba</h4>
            </article>

            <article class="pkm-evo">
                <picture class="sprite" style="background-color: var(--color-grass);">
                    <source type="image/avif" srcset="/assets/test-bulba.avif">
                    <source type="image/webp" srcset="/assets/test-bulba.webp">
                    <img src="/assets/test-bulba.png" width="70" height="68" alt="test-bulba" loading="lazy">
                </picture>

                <span class="details-pkm-id">001</span>
                <h4 class="pkm-name">Bulba</h4>
            </article>

            <article class="pkm-evo">
                <picture class="sprite" style="background-color: var(--color-grass);">
                    <source type="image/avif" srcset="/assets/test-bulba.avif">
                    <source type="image/webp" srcset="/assets/test-bulba.webp">
                    <img src="/assets/test-bulba.png" width="70" height="68" alt="test-bulba" loading="lazy">
                </picture>

                <span class="details-pkm-id">001</span>
                <h4 class="pkm-name">Bulba</h4>
            </article>
        </section>
    </section>
</main>

{% render 'partials/foot.liquid' %}