<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokéApp</title>
    <link rel="stylesheet" href="/styles/pokeapp.css">
    <link rel="stylesheet" href="/styles/style.css">
	<script src="/main.js" defer></script>
</head>
<body>
    <main class="error">
        <picture class="error-img">
            <source type="image/avif" srcset="/assets/pikachu-error.avif">
            <source type="image/webp" srcset="/assets/pikachu-error.webp">
            <img src="/assets/pikachu-error.jpg" width="250" height="250" alt="test-bulba" loading="lazy">
        </picture>
        <span>404</span>
        <span>Page not found</span>
        <a class="back" href="/">Back to home page</a>
        <button class="back back-button" hidden>Back to previous page</button>
    </main>
</body>
</html>