{% render 'partials/head.liquid', title: 'Home' %}

<main>
    <h1><img src="/assets/PokemonLogo.svg" alt="pokemon logo"></h1>

    <section>
        <h2 class="title-home">All Pokemon</h2>

        <form method="post" action="/">
            <input type="search" placeholder="Search All Pokemon">
            <button><img class="svg" src="/assets/btn-search.svg" alt="search button"></button>
        </form>

        <a href="/">All Pokemon</a>
        <a href="/">Caught Pokemon</a>
    </section>

    <div class="pkm-container">
        <article>
            <h3>Bulbasaur</h3>
            <img src="/assets/pokeball.svg" alt="{{bulba}} is caught">
            <picture>
                <source type="image/avif" srcset="/assets/test-bulba.avif">
                <source type="image/webp" srcset="/assets/test-bulba.webp">
                <img src="/assets/test-bulba.png" width="70" height="68" alt="test-bulba" loading="lazy">
            </picture>
        </article>
    </div>
</main>

{% render 'partials/foot.liquid' %}