{% render 'partials/head.liquid', title: 'Home' %}

<main>
    <h1><img src="/assets/PokemonLogo.svg" alt="pokemon logo"></h1>

    <section>
        <h2 class="title-home">All Pokemon</h2>

        <form method="post" action="/">
            <input type="search" placeholder="Search All Pokemon">
            <button><img class="svg" src="/assets/btn-search.svg" alt="search button"></button>
        </form>

        <a href="/">All Pokemon</a>
        <a href="/">Caught Pokemon</a>
    </section>

    <div class="pkm-container">
        {% render 'partials/pkm-card.liquid' %}
    </div>
</main>

{% render 'partials/foot.liquid' %}