{% render 'partials/head.liquid', title: 'Home' %}

<main>
    <span class="primary-txt-home">testtesttest</span>
    <span class="primary-txt-detail">testtesttest</span>
    <span class="title-home">testtesttest</span>
    <span class="title-detail">testtesttest</span>
    <span>testtesttest</span>
</main>

{% render 'partials/foot.liquid' %}