/* RESET */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    object-fit: cover;
}

body {
    /* kleuren */
    --color-gray: rgb(231, 230, 236);
    --color-primary-daylight: rgb(246, 246, 255);
    --color-primary-midnight: rgb(14, 9, 64);
    --color-primary-purple: rgb(86, 49, 232);
    --color-search: rgb(237, 246, 255);

    /* type kleuren */
    --color-grass: rgb(190, 226, 183);
    --color-normal: rgb(189, 189, 189);
    --color-fire: rgb(255, 179, 190);
    --color-water: rgb(165, 183, 255);
    --color-flying: rgb(170, 205, 255);
    --color-fighting: rgb(233, 168, 164);
    --color-poison: rgb(219, 191, 231);
    --color-electric: rgb(255, 233, 135);
    --color-ground: rgb(210, 158, 131);
    --color-rock: rgb(171, 171, 171);
    --color-psychic: rgb(255, 187, 244);
    --color-ice: rgb(157, 209, 255);
    --color-bug: rgb(199, 248, 204);
    --color-ghost: rgb(192, 149, 212);
    --color-steel: rgb(194, 194, 194);
    --color-dragon: rgb(106, 164, 245);
    --color-dark: rgb(153, 153, 153);
    --color-fairy: rgb(255, 161, 235);

    /* typografie */
    --ff-primary: 'Rubik', sans-serif;

    /* font sizes */
    --fs-primary: 1.25rem;
    --fs-txt-resp: clamp(1.25rem, calc(1.5vw + 1rem), 2rem);
    --fs-title-32: 2rem;
    --fs-subt-resp: clamp(2rem, calc(1.5vw + 1rem), 2.5rem);
    --fs-title-40: 2.5rem;

    /* font weight */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Regular.ttf') format('truetype');
    font-weight: var(--fw-regular);
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-Medium.ttf') format('truetype');
    font-weight: var(--fw-medium);
    font-style: normal;
}

@font-face {
    font-family: 'Rubik';
    src: url('/fonts/Rubik-SemiBold.ttf') format('truetype');
    font-weight: var(--fw-semibold);
    font-style: normal;
}


/* ====================================================== TYPOGRAFIE ====================================================== */
body {
    font-family: var(--ff-primary);
    font-size: var(--fs-primary);
    font-weight: var(--fw-regular);
}

.primary-h3-home {
    font-size: var(--fs-txt-resp);
    font-weight: var(--fw-medium);
}

.primary-txt-detail {
    font-size: var(--fs-txt-resp);
    font-weight: var(--fw-semibold);
}

.title-home {
    font-size: var(--fs-title-32);
    font-weight: var(--fw-semibold);
}

.title-detail {
    font-size: var(--fs-title-40);
    font-weight: var(--fw-semibold);
}

a {
    text-decoration: none;
}