@view-transition {
  navigation: auto;
}
/* https://codepen.io/argyleink/pen/VwBKjwj?editors=0110 */


.breadcrumbs {
    background-color: var(--color-primary-purple);
    padding: 0.2em 0 0.2em 0.5em;

    a {
        color: var(--color-layering-daylight);

        &:hover {
            color: goldenrod;
        }
    }
}

.index-container {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary-daylight);

    @media (min-width: 1114px) {
        flex-direction: row;
    }
}

.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-layering-daylight);

    @media (min-width: 1114px) {
        position: sticky;
        top: 0;
        align-self: start;
        height: 100dvh;
        padding: 0 1em;
    }

    .title-site {
        padding-top: 0.5em;

        @media (min-width: 1114px) {
            margin-top: 1em;
        }
    }

    .title-home {
        margin: 1em 0 1em 0;
    }

    .search-bar {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas:
        "btn input"
        ;
        height: 2.4em;
        width: 13em;
        background-color: var(--color-search);
        padding: 0.5em;
        border-radius: 16px;

        margin: 0 1em;

        input {
            grid-area: input;
            background-color: inherit;
            border: none;
        }

        .btn-submit {
            grid-area: btn;
            background-color: inherit;
            margin-right: 0.7em;
            border: none;
        }
    }

    .pkm-filters, .pkm-caught {
        display: flex;
        align-items: center;
        height: 2.4em;
        width: 13em;
        margin: 1em 1em 0 1em;
        padding: 0.5em;
        border-radius: 16px;
        cursor: pointer;

        span {
            margin-left: 0.5em;
        }
    }

    .pkm-filters {
        position: relative;
        background-color: var(--color-primary-purple);
        color: var(--color-primary-daylight);

        summary {
            display: flex;
            align-items: center;
            position: absolute;
            inset: 0;
            font-weight: var(--fw-medium);
            font-size: var(--fs-primary);
            margin-left: 0.5em;
            text-wrap: nowrap;
            list-style: none;
        }

        ul {
            position: absolute;
            top: 90%;
            left: 0;
            width: 13em;
            background-color: var(--color-primary-purple);
            padding: 0.5em;
            list-style: none;
            border-radius: 0 0 16px 16px;

            li a {
                display: block;
                width: 100%;
                color: var(--color-primary-daylight);
            }

            a:hover {
                color: goldenrod;
            }
        }

        &[open] {
            border-radius: 16px 16px 0 0;

            ul {
                z-index: 10;
            }
        }

        &:hover {
            color: black;

            img {
                filter: invert(1);
            }
        }
    }

    .pkm-caught {
        background-color: var(--color-primary-daylight);
        color: var(--color-primary-midnight);
        margin: 1em 0;

        &:hover {
            background-color: var(--color-primary-purple);
            color: var(--color-primary-daylight);

            img {
                filter: invert(1);
            }
        }
    }
}

.pkm-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    place-items: center;
    background-color: var(--color-primary-daylight);
    gap: 1em;
    margin: 1em 1em;

    @media (min-width: 1114px) {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        align-self: start;
    }
}

.pkm-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "name pokeball"
    ". pokeman"
    ;
    position: relative;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    cursor: pointer;

    .pkm-background {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        /* https://www.shecodes.io/athena/39603-how-to-place-an-image-inside-a-grid-box-in-css */
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .pkm-name {
        grid-area: name;
        margin: 0.7em 0 0 1em;
        a {
            color: var(--color-primary-daylight);

            &::before {
                content: '';
                display: block;
                position: absolute;
                inset: 0;
                z-index: 4;
            }
        }
    }

    .pkm-pokeball {
        grid-area: pokeball;
        justify-self: end;
    }

    /* https://codepen.io/potatoDie/pen/abzvGxG?editors=1100 */
    .btn-caught {
        position: relative;
        margin: 1em 1em 0 0;
        height: min-content;
        width: min-content;
        background: inherit;
        border: none;
        cursor: pointer;
        z-index: 5;

        &:active {
            scale: 0.7;
        }
    }

    .pkm-sprite {
        grid-area: pokeman;
        place-self: center;
        margin-right: 3em;
        overflow: hidden;
    }
}

.btn-load-more {
    display: block;
    position: relative;
    text-align: center;
    margin: 1em auto;
    background-color: var(--color-primary-purple);
    color: var(--color-layering-daylight);
    padding: 0.3em 1em;
    border-radius: 15px;
    z-index: 500;

    @media (min-width: 1114px) {
        position: fixed;
        bottom: 1em;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 0 0 8em;
        z-index: 1000;
    }

    &:hover {
        color: black;
    }

    &.hidden {
        display: none;
    }

    button {
        display: flex;
        align-self: center;
        background-color: inherit;
        color: inherit;
        font-size: var(--fs-details-resp);
        border: none;
        cursor: pointer;

        &::before {
            content: '';
            display: block;
            position: absolute;
            inset: 0;
            z-index: 4;
        }
    }
}



.detail-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
    "pokemon"
    "details"
    ;
    place-items: center;

    @media (min-width: 820px) {
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
        "pokemon details"
        ;
        background-image: none;
        height: 100dvh;
    }
}

.pkm-info {
    grid-area: pokemon;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url('/assets/bg-pokeball-detail.svg');
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: 820px) {
        max-width: 400px;
        background-position: bottom left 5px;
    }

    .title-site {
        margin-top: 0.7em;
        z-index: 1;
    }

    .id-pokeball {
        display: flex;
        align-items: center;
        margin-top: 0.5em;
    }

    .details-pkm-id {
        height: 57px;
        width: 123px;
    }

    .pkm-pokeball {
        justify-self: start;
        margin-left: 0.5em;
    }

    .pkm-name {
        color: var(--color-primary-daylight);
        margin-top: 0.5em;
    }
}

.info-container {
    grid-area: details;
    width: calc(100% - 2em);
    max-width: 375px;
    background-color: var(--color-primary-daylight);
    margin: 1em;
    border-radius: 10px;

    @media (min-width: 820px) {
        place-content: center;
        width: 100%;
        height: 100dvh;
        max-width: none;
        font-size: var(--fs-details-resp);
        margin: 0;
        border-radius: unset;
    }

    .tab-titles {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
        "a b c"
        "bar bar bar";
        place-items: center;
        margin-top: 1em;

        @media (min-width: 820px) {
            position: absolute;
            top: 1.3em;
            left: 300px;
            width: calc(100% - 300px);
            padding: 0 1em;
        }

        .tab-titles, a {
            text-align: center;
            width: 100%;
            height: 100%;
        }

        .bar, .indicator {
            grid-area: bar; 
            height: 0.4em;
            width: calc(100% - 3em);
            margin: 0.5em 0;

            @media (min-width: 820px) {
                width: 100%;
            }
        }

        .bar {
            grid-column: 1 / span 3;
            background-color: lightgrey;
        }

        .indicator {
            grid-column: 1 / span 3;
            width: 33%;
            background-color: var(--color-primary-purple);
            transform: translateX(-100%);
            transition: transform 0.5s ease;
        }
    }
}

/* tab switcher */
/* https://medium.com/@pimterry/better-css-only-tabs-with-target-7886c88deb75#:~:text=back%20to%20IE9.-,It%20looks%20like%20this%3A,-JS%20Bin */
.tab:not(:target) {
    display: none;
}

.tab:target {
    display: block;

    &.pkm-about {
        display: grid;
    }
}

/* tab: bar indicator */
.info-container:has(.pkm-about:target) .indicator  {
    margin-left: 2.8em;
    transform: translateX(-100%);

    @media (min-width: 820px) {
        margin-left: -0.2em;
    }
}

.info-container:has(.pkm-stats:target) .indicator  {
    transform: translateX(0%);
}

.info-container:has(.evolution:target) .indicator  {
    margin-right: 2.8em;
    transform: translateX(100%);

    @media (min-width: 820px) {
        margin-right: -0.2em;
    }
}

.pkm-about {
    display: grid;
    grid-template-columns: min-content 1fr;
    justify-self: center;
    width: calc(100% - 2em);

    dt, dd {
        margin: 0 clamp(0.5em, 80%, 1.5em) 0.5em clamp(0.5em, 80%, 1.5em);
        text-wrap: nowrap;
    }

    dd {
        text-align: end;
        font-weight: var(--fw-regular);
    }

    .type {
        color: var(--color-primary-daylight);
        font-weight: var(--fw-semibold);
        line-height: 1em;
        padding: 3px;
        border-radius: 4px;
    }
}

.pkm-stats {
    margin: 1em 0;

    @media (min-width: 950px) {
        margin: 1em 3vw;
    }

    li {
        display: grid;
        grid-template-areas:
        "stat number"
        "meter meter"
        ;
        margin: 0.5em 2em;

        .stat {
            grid-area: stat;
        }

        .number {
            grid-area: number;
            justify-self: end;
            font-weight: var(--fw-regular);
        }

        meter {
            grid-area: meter;
            width: 100%;
            height: 10px;

            &::-webkit-meter-optimum-value {
                background: var(--color-primary-purple);
            }

            &::-moz-meter-bar {
                background: var(--color-primary-purple);
                border-radius: 15px;
            }
        }
    }
}

.pkm-evo {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "sprite id"
    "sprite name";
    position: relative;
    background-color: var(--color-primary-daylight);
    margin: 1em;
    border-radius: 15px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
    z-index: 2;

    @media (min-width: 950px) {
        margin: 1em 7vw;
    }

    @media (min-width: 1050px) {
        height: 150px;

        &.pkm-evo:first-of-type {
            margin-top: 4.5em;
        }
    }

    .sprite {
        grid-area: sprite;
        display: grid;
        place-items: center;
        position: relative;
        padding: 0.5em;
        margin-right: 0.5em;
        border-radius: 15px 0 0 15px;
        z-index: 2;

        @media (min-width: 1050px) {
            width: 150px;

            img {
                width: 130px;
                height: 130px;
            }
        }
    }

    /* hover background color */
    &::before {
        content: '';
        position: absolute;
        inset: 0;
        height: 100%;
        width: 0%;
        background-color: var(--current-bg-color);
        border-radius: 15px;
        transition: width 0.4s ease-in-out;
        z-index: 1;
    }

    &:has(.pkm-name:hover)::before {
        width: 100%;
    }

    .details-pkm-id {
        grid-area: id;
        align-self: end;
        height: 27px;
        width: 60px;
        z-index: 2;

        @media (min-width: 820px) {
            height: 40px;
            width: 90px;
        }
    }

    .pkm-name {
        grid-area: name;
        align-self: center;
        z-index: 2;

        a::before {
            content: '';
            display: block;
            position: absolute;
            inset: 0;
            z-index: 4;
        }
    }
}


.error {
    display: flex;
    flex-direction: column;
    place-items: center;
    background-color: var(--color-electric);
    justify-content: center;
    height: 100dvh;

    .back {
        color: #e92929;
        background-color: #f4dc26;
        margin-top: 1em;
        padding: 0.5em;
        border: 1px solid #5c3613;
        border-radius: 15px;
        cursor: pointer;

        &:hover {
            color: #f4dc26;
            background-color: #e92929;
        }

        &:active {
            scale: 0.8;
        }
    }

}


.loading-state {
    position: relative;
    transform-origin: center;
    animation: spin .25s linear infinite reverse;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}