.index-container {
    display: grid;
    grid-template-areas:
    "title"
    "search"
    "pkmContainer"
    ;
    align-items: center;
    background-color: var(--color-primary-daylight);

    .title-site {
        grid-area: title;
        justify-self: center;
        padding-top: .5em;
    }
}

.filter-container {
    grid-area: search;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-home {
        margin: 1em 0 1em 0;
    }

    .search-bar {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas:
        "btn input"
        ;
      background-color: var(--color-search);
        padding: .5em;
        border-radius: 16px;
        height: 2.4em;
        width: 13em;
        margin: 0 1em;

        input {
            grid-area: input;
            border: none;
            background-color: inherit;
        }

        .btn-submit {
            grid-area: btn;
            border: none;
            background-color: inherit;
            margin-right: .7em;
        }
    }

    .filter-all-pkm, .filter-caught-pkm {
        display: flex;
        align-items: center;
        border-radius: 16px;
        padding: .5em;
        width: 13em;
        margin: 1em 1em 0 1em;
        height: 2.4em;
        span {
            margin-left: .5em;
        }
    }

    .filter-all-pkm {
        background-color: var(--color-primary-purple);
        color: var(--color-primary-daylight);
    }

    .filter-caught-pkm {
        background-color: var(--color-primary-daylight);
        color: var(--color-primary-midnight);
    }
}

.pkm-container {
    grid-area: pkmContainer;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    place-items: center;

    gap: 1em;
    margin: 1em 1em;
}

.pkm-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "name pokeball"
    ". pokeman"
    ;
    max-width: 350px;

    .pkm-background {
        grid-column: 1 / -1;
        grid-row: 1 / -1;
        /* https://www.shecodes.io/athena/39603-how-to-place-an-image-inside-a-grid-box-in-css */
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .pkm-name {
        grid-area: name;
        margin: .7em 0 0 1em ;
        color: var(--color-primary-daylight);
    }

    .pkm-pokeball {
        grid-area: pokeball;
        justify-self: end;
        margin: 1em 1em 0 0;
    }

    .pkm-sprite {
        grid-area: pokeman;
        place-self: center;
    }
}